html {
  box-sizing: border-box;
  background: #E5E5E5
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

.main-page__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

.main-page__title {
  min-width: 600px;
  height: 200px;
  margin: 86px auto 16px;
  background: url(../img/main-page__img.png) no-repeat center;
}