html {
  box-sizing: border-box;
  background: #E5E5E5
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

.main-page__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main-page__title {
  min-width: 600px;
  height: 200px;
  margin: 86px auto 16px;
  background: url(../img/main-page__img.png) no-repeat center;
}

.search-form {
  min-width: 1020px;
  min-height: 56px;
  margin: 0 auto 33px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search-form__field {
  width: 100%;
  background: transparent url(../img/svg/search-icon.svg) no-repeat left;
  background-size: 17.5px;
  padding: 10px 0 10px 30px;
  border: none;
}

.search-form__field:focus,
.search-form__field:active {
  outline: none;
}

.search-form__info {
  display: block;
  overflow: hidden;
  padding: 10px 18px;
}

.search-form__field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
}

.content__container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 20px;
  row-gap: 24px;
}

.content__card {
grid-column: span 2;
}