html {
  box-sizing: border-box;
  /* background: #E5E5E5 */
  background: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

/* Main page styles start */

.main-page__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main-page__title {
  min-width: 600px;
  height: 200px;
  margin: 86px auto 16px;
  background: url(../img/main-page__img.png) no-repeat center;
}

.main-page__search-form {
  min-width: 1020px;
  min-height: 56px;
  margin: 0 auto 61px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.main-page__search-form__field {
  width: 100%;
  background: transparent url(../img/svg/search-icon.svg) no-repeat left;
  background-size: 17.5px;
  padding: 10px 0 10px 30px;
  border: none;
}

.main-page__search-form__field:focus,
.main-page__search-form__field:active {
  outline: none;
}

.main-page__search-form__info {
  display: block;
  overflow: hidden;
  padding: 10px 18px;
}

.main-page__search-form__field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
}

.main-page__content__container {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 24px;
}

/* Main page styles end */

/* Character component styles start */

.character__card {
  grid-column: span 1;
  width: 240px;
  height: 244px;
  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}

.character__card-pic {
  width: 240px;
  height: 168px;
  overflow: hidden;
}

.character__card-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.character__card-link {
  text-decoration: none;
}

.character__card-stats {
  margin: 13px 17px
}

.character__card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.87);
}

.character__card-desk {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);

}

/* Character component styles end */

/* Character Details Page styles start */
.char-details__navigation {
  width: 104px;
  height: 21px;
  margin-bottom: 32px;
}

.char-details__navigation-title {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.char-details__navigation-link {
  display: block;
  width: 104px;
  height: 21px;
  background: transparent url(../img/svg/arrow_back_24px.svg) no-repeat left;
  background-size: 16px;
  margin: 25px 0 0 54px;
  padding-left: 28px;
  text-decoration: none;
}

.char-details__content-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.char-details__content-pic {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 16px;
}

.char-details__content-title {
  font-size: 48px;
  line-height: 56px;
  color: #081F32;
  margin-bottom: 48px;
}

.char-details__content-info {
  width: 117px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #8E8E93;
  margin-bottom: 48px;
}

.char-details__content-info-block {
  width: 413px;
  height: 64px;
}

.char-details__content-info-block-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #081F32;
}

.char-details__content-info-block-data {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #6E798C;
  margin-bottom: 11px;
}

.char-details__content-info-block-hr {
  display: block;
  width: 95%;
  height: 1px;
  background: rgba(33, 33, 33, 0.08);
  margin-bottom: 9px;
}

/* Character Details Page styles end */